* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgba(48, 16, 8, 0.9);
}
h1 {
  font-size: 50px;
}
#firstSec {
  display: flex;
  height: 400px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.title {
  display: flex;
}
#borderleft {
  height: 107px;
  width: 3px;
  background-color: #ea8a81;
  border-radius: 99px;
  margin-top: 36px;
}
.maintext {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  font-family: "Playfair Display", serif;
}
.primColor {
  color: #dc7027;
}
.firstSec_text {
  margin-bottom: 20px;
}
.firstSec_button {
  box-shadow: 0px 10px 14px -7px #ea8a81;
  background-color: #ea8a81;
  border-radius: 4px;
  border: 1px solid #ea8a81;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 11px 40px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-bottom: 35px;
}
.firstSec_button:hover {
  background-color: #ea8a81;
  transform: scale(1.1);
}
.scroll_text {
  font-size: smaller;
}
.firstSec_sec1 {
  width: 50%;
}
.firstSec_sec2 {
  width: 50%;
  text-align: center;
}
.main_image {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/* SecondSec */
#secondSec {
  margin-bottom: 100px;
}
.secondSec_intro {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}
.container2 {
  margin: 0 30px;
  display: flex;
}
.card1 {
  margin: 0 10px;
  background-color: rgba(244, 216, 174, 0.3);
  border-radius: 30px;
  width: 33.33%;
}
.card2 {
  margin: 0 10px;
  background-color: rgba(234, 138, 129, 0.3);
  border-radius: 30px;
  width: 33.33%;
}
.card3 {
  margin: 0 10px;
  background-color: rgba(182, 196, 142, 0.3);
  border-radius: 30px;
  width: 33.33%;
}
.secondSec_img {
  width: 180px;
  padding: 25px;
}
.secondSec_main {
  font-weight: 700;
  font-size: x-large;
  padding: 0 20px;
  margin-bottom: 20px;
}
.secondSec_secondary {
  padding: 0 20px;
  margin-bottom: 40px;
}

/* Third Section */
#thirdSec {
  margin-bottom: 100px;
  background-image: url(./images/shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: left;
}
.container3 {
  margin: 0 15px;
  display: flex;
}
.fortyPerc {
  margin: 0 25px;
  width: 40%;
}
.sixtyPerc {
  margin: auto 25px;
  width: 60%;
}
.thirdSec_title {
  font-size: x-large;
}
.thirdSec_text {
  padding: 20px 0;
}
.thirdSec_button {
  box-shadow: 0px 10px 14px -7px rgb(182, 196, 142);
  background-color: #b6c48e;
  border-radius: 4px;
  border: 1px solid #b6c48e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 11px 40px;
  text-decoration: none;
  transition: 0.3s ease-in;
  margin-bottom: 35px;
}
.thirdSec_button:hover {
  background-color: #ea8a81;
  box-shadow: 0px 10px 14px -7px #ea8a81;
  border: 1px solid #ea8a81;
}
#fourthSec {
  padding-bottom: 40px;
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: bottom right;
  margin-bottom: 60px;
}
.container5 {
  display: flex;
  margin: 0 40px;
  margin-bottom: 100px;
}
.myOwn {
  margin-bottom: 150px;
}
.myown_title {
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  margin-bottom: 40px;
}

.myOwn hr {
  width: 25%;
  margin: auto;
  border: 1px solid #b6c48e;
}
.myown_sec1 {
  background-color: rgba(234, 138, 129, 0.1);
  border-radius: 10px;
  padding: 0 40px;
  width: 30%;
  margin-right: 100px;
}
.underline {
  text-decoration: underline;
}
.ypad25 {
  padding: 25px 0;
}
.ypad20 {
  padding: 20px 0;
}
.myown_sec2 {
  width: 70%;
}
.form {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
input[type="text"] {
  background-color: rgba(182, 196, 142, 0.1);
  color: #dc7027;
  border: none;
  border-radius: 10px;
  height: 25px;
  padding-left: 10px;
}
textarea[type="message"] {
  background-color: rgba(182, 196, 142, 0.1);
  color: #dc7027;
  border: none;
  border-radius: 10px;
  width: 98%;
  height: 250px;
  padding-left: 10px;
  margin-bottom: 40px;
  text-align: top left;
  font-family: "Poppins", sans-serif;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 0;
}
